@import 'global-utils';

:host {
    width: 300px;
}

.blog-overview-field {
    width: 50%;
    font-size: $normal-font-size;
}

.mat-progress-spinner {
    margin: 0 auto;
}

@media only screen and (min-width: $md) {
    .blog-overview-field {
        font-size: $large-font-size;
        margin-left: 1em;
        width: 100%;
    }
}