@import 'global-utils';

:host {
    width: 50%;
}

.blog-overview-field {
    font-size: $large-font-size;
    margin-left: 1em;
    width: 50%;

    @media only screen and (max-width: $md) {
        width: 100%;
        font-size: $normal-font-size;
    }
}

.mat-progress-spinner {
    margin: 0 auto;
}
