// imported in global-utils.scss
$normal-margin: 10px;
$large-margin: 20px;
$xl-margin: 40px;

$normal-padding: 10px;
$large-padding: 20px;
$xl-padding: 40px;

$xs-font-size: 8px;
$small-font-size: 12px;
$normal-font-size: 16px;
$large-font-size: 24px;
$xl-font-size: 30px;
$xxl-font-size: 40px;

$font-family: sans-serif, 'Lato';
