@import "global-utils";

:host {
    margin-left: auto;
}

.form {
    font-size: $large-font-size;
    margin:0 2em 0 2em;
    width: 0px;
    &:focus-within {
        transition: .5s ease-in-out;
        width: 200px;
    }
}