.login-container {
    background: url(../../../assets/img/lionel_richie.jpg) no-repeat;
    background-size: contain;
    width: 100wh;
    height: 100vh;

}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}