<div class="spinner" *ngIf="isLoading$ | async">
  <mat-progress-spinner
    strokeWitdh="5"
    diameter="50"
    mode="indeterminate"
    color="accent"
  ></mat-progress-spinner>
</div>

<mat-card class="post-card" *ngIf="post$ | async as post">
  <!-- Header -->
  <mat-card-header>
    <mat-card-title>
      <h1 class="post-title-wrapper">
        {{ post.title }}
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <div
        mat-card-avatar
        class="header-image"
        [style.background-image]="'url(' + post.author.image.url + ')'"
      ></div>
      <div class="header-text">
        von
        <a mat-button target="_blank" [href]="post.author.url"
          ><b>{{ post.author.displayName }}</b>
          <!-- Date -->
        </a>
        am {{ post.published | date: "fullDate":"":"de-DE" }}
      </div>
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Content -->
  <mat-card-content [innerHTML]="post.content"></mat-card-content>

  <!-- Actions -->
  <mat-card-actions>
    <button mat-button color="warn" (click)="onEdit(post)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button color="warn" (click)="onDelete(post)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
