@import 'global-utils';

.post-card {
    width: 70%;
    margin: auto;
    margin-top: $large-margin;
}

.spinner {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (axn-width: $md) {
    .post-card {
        width: 100%;
        margin: auto;
    }
}
