@import "global-utils";
@import "~@angular/material/theming";

.post-card {
  width: 70%;
  margin: $large-margin auto $xl-margin auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.47);

    @media only screen and (max-width: $md) {
        width: 100%;
        margin: auto;
    }
}

.header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
}

.header-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spinner {
  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
