@import 'global-utils';

form {
	overflow: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.title-form-field {
		width: 100%;
	}

	button {
		width: 50%;
	}

	mat-error {
		align-self: flex-start;
	}
}

:host ::ng-deep .ck-editor__editable_inline {
	min-width: 400px;
	max-width: 700px;
	
    min-height: 300px;
    max-height: 500px;
}
