<div class="modal-wrapper">
    <button mat-button class="close-btn" (click)="onCancel()"><mat-icon>close</mat-icon></button>
    <form #form>
        <!-- Title -->
        <mat-form-field class="title-form-field">
            <mat-label>Title</mat-label>
            <input 
                matInput 
                type="text" 
                name="title" 
                [formControl]="title"
            />
        </mat-form-field>
    
        <!-- Content -->
        <ckeditor [formControl]="content" [editor]="Editor" [config]="Config"></ckeditor>

        <!-- Actions -->
        <button mat-raised-button class="save-btn" color="accent" (click)="onSave()">Save</button>
    </form>

</div>