:host {
    width: 50%;
    margin: 20px auto;
}

.post-wrapper {
    width: 100%;
    padding: 0;
    text-align: justify;
    a {
        text-decoration: none;
    }
}

// .mat-card-content {
//     .separator img {
//         width: 300px;
//         margin: auto;
//         object-fit: cover;
//         height: 500px;
//     }
// }