<mat-card class="post-card">
  <!-- Header -->
  <mat-card-header>
    <div mat-card-avatar class="header-image" [style.background-image]="'url(' + post.author.image.url + ')'"></div>

    <!-- Title -->
    <mat-card-title>
      <button mat-flat-button class="post-title-wrapper" (click)="showDetail.emit(post.id)">
        {{ post.title }}
      </button>
    </mat-card-title>

    <!-- Author Link -->
    <mat-card-subtitle>
      <a mat-button target="_blank" [href]="post.author.url">{{ post.author.displayName }}</a>
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Date -->
  <mat-card-subtitle>{{ post.published | date: 'fullDate' : '' : 'de-DE' }}</mat-card-subtitle>

  <!-- Actions -->
  <mat-card-actions>
    <button mat-button color="warn" (click)="onComment()">Kommentare</button>
    <button mat-button color="warn" (click)="openEdit.emit(post)">Bearbeiten</button>
    <button mat-button color='warn' (click)='onDelete()'>Löschen</button>
  </mat-card-actions>

</mat-card>
