@import '~@angular/material/theming';

:host {
    margin: 20px auto;
    flex: 1 0 35%;
    padding: 0px 20px;
}





.post-card{
    box-shadow: 0 14px 28px rgba(0,0,0,0.47);
    transition: .2s ease-in-out;
    &:hover{
        transform: translateY(-5px);
    }

}


.post-card-content{
    cursor: pointer;
}

.post-title-wrapper {
    width: 100%;
    padding: 0;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float:left;
}

.header-text{
    padding-left: 4em;
}
