<button class="post-add-btn" mat-fab color="accent" (click)="onPostingPost()"><mat-icon>add</mat-icon></button>
<button class="refresh-posts-btn" mat-flat-button color="accent" (click)="fetchPosts()">Refresh Posts</button>

<div class="spinner" *ngIf="isLoading$ | async">
    <mat-progress-spinner strokeWitdh=5 diameter=50 mode="indeterminate" color="accent" ></mat-progress-spinner>
</div>
<mat-list *ngIf="posts$ | async as posts">
    <app-post-item 
    *ngFor="let post of posts" 
    [post]="post"
    (showDetail)="onShowDetail($event)"></app-post-item>
</mat-list>
