@mixin mat-header($theme) {
  .mat-toolbar {
    .mat-form-field-appearance-legacy {
      .mat-form-field-infix {
        padding: 0;
        border-top: none;
      }
      
      .mat-form-field-underline {
        background-color: #ffffff;

        // Overwrite element style
        height: 0 !important;
      }
    
      .mat-form-field-wrapper {
        padding: 0;
      }
    
      .mat-form-field-ripple {
        display: none;
      } 
    }
  }

  .mat-select-panel .mat-option {
    // Overwrite element style
    line-height: unset !important;
  }
}
