@import 'global-utils';

:host {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.toolbar {
    justify-content: space-between;

    .nav-right {
        display: flex;
        align-items: center;
        
        .logout-btn {
            margin-right: 1em;
        }
    }
}

@media only screen and (max-width: $md) {
    .logout-btn {
        margin-left: 1em;
    }
}
