:host {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;

    .logout-btn {
        height: 3em;
        margin-left: 2em;
        margin-right: 1em;
        text-align: center;
    }
}
